# Project Name

This is a ML model to predict housing pricing specifically from Boston's housing database from scikit-learn. It is purely intended for playing around how to implemented
a machine learning model for predictive analysis.

### Prerequisites

- Python version (specify version)
- Django version (specify version)
- Any other dependencies


## Getting Started

Make sure to have these libraries installed:
```pip install numpy pandas matplotlib scikit-learn```


### Installing

A step-by-step guide that tells you how to get a development environment running.

1. Clone the repository:
```bash
git clone https://github.com/yourproject/yourproject.git
